$fa-font-path: "./node_modules/font-awesome/fonts";
@import "./node_modules/font-awesome/scss/font-awesome.scss";
@import "./node_modules/skeleton-sass-official/skeleton/core/config";
@import "./node_modules/skeleton-sass-official/skeleton/themes/fresh/vars";               // theme variable overrides
@import "./node_modules/skeleton-sass-official/skeleton/themes/fresh/include_components"; // theme base styles
@import "./node_modules/skeleton-sass-official/skeleton/themes/fresh/grid";               // theme grid styles

@import url("https://fonts.googleapis.com/earlyaccess/nicomoji.css");

body {
  background-color: #002B36;
  margin-top: 30px;
  font-family: "Nico Moji";
  h1, h2 {
    font-family: "Nico Moji" !important;
  }
}

h1 {
  font-size: 2.2vw;
  color: #2AA198;
}

h2 {
  font-size: 1.9vw;
  color: #B58900;
}

.right-side {
  margin: 0;
}

.about-me, .portfolio {
  margin-bottom: 50px;
  background-color: #073642;
  padding: 1.2em 3.2em 1.2em 3.2em;
}

.what-i-made {
  margin: 40px 0 40px 0;
}

.to-know-more {
  color: #6C71C4;
  font-size: 1.2vw;
}

.self-introduction {
  color: #CB4B16;
  font-size: 1.2vw;
}

ul {
  li {
    color: #657B83;
    font-size: 1.6vw;
    a {
      text-decoration: none;
      cursor: pointer;
      i {
        vertical-align: middle;
        color: #93A1A1;
      }

      span {
        vertical-align: middle;
        color: #657B83;
      }
    }
  }
}

.my-links {
  list-style-type: none;
}

.row .columns {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.container {
  max-width: 75%;
}

.profile-icon, .artwork-icon {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-icon {
  width: 60%;
  height: 60%;
}

.artwork-icon {
  width: 40%;
  height: 40%;
}
