body {
  background-color: #002B36;
  margin-top: 30px;
}

h1 {
  color: #2AA198;
}

h2 {
  color: #B58900;
}

.fa-ul li a {
  color: #93A1A1;
  cursor: pointer;
}

.profile-icon {
  border-radius: 150px;
  width: 300px;
  height: 300px;
}

.about-me {
  margin-bottom: 50px;
}

.artwork-icon {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.what-i-made {
  margin: 40px 0 40px 0;
}

.self-introduction {
  color: #CB4B16;
}

ul li {
  color: #657B83;
}

ul span {
  color: #657B83;
}

.portfolio p {
  color: #6C71C4;
}
