@import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css');
.root-container {
  font-family: "Rounded Mplus 1c";
  padding: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 80%;
  @media screen and (max-height: 736px) {
    overflow-y: scroll;
  }
  text-align: center;
  .description {
    a {
      color: #AA0000;
    }
  }
  .icon {
    max-width: 90%;
  }
  .links {
    a {
      text-decoration: none;
      cursor: pointer;
      i {
        color: #111111;
        margin: 0.5em;
      }
    }
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
