<div class="root-container">
  <img class="icon" src="https://i.imgur.com/zyJqR1o.png" alt="My icon">
  <h1>@e_ntyo</h1>
  <div class="links"> 

    <a href="https://twitter.com/e_ntyo" role="button" title="Twitter" target="_blank">
      <i class="fa fa-fw fa-twitter"></i>
      <p>Twitter</p>
    </a>
    <a href="https://github.com/entyo" role="button" title="GitHub" target="_blank">
      <i class="fa fa-fw fa-github"></i>
      <p>GitHub</p>
    </a>
    <a href="http://www.amazon.co.jp/registry/wishlist/734KCUBE5PYS" role="button" title="WishList" target="_blank">
      <i class="fa fa-fw fa-amazon"></i>
      <p>WishList</p>
    </a>
    <a href="https://www.eventernote.com/users/e_ntyo/" role="button" title="Eventer Note" target="_blank">
      <i class="fa fa-fw fa-file-text-o"></i>
      <p>Eventernote</p>
    </a>
    <a href="https://medium.com/@e_ntyo" role="button" title="Medium" target="_blank">
      <i class="fa fa-fw fa-medium"></i>
      <p>Medium</p>
    </a>
    <a href="https://dev.to/e_ntyo" role="button" title="dev.to" target="_blank">
      <i class="fa fa-fw fa-wrench"></i>
      <p>dev.to</p>
    </a>
    <a href="https://slides.com/e_ntyo" role="button" title="slides.com" target="_blank">
      <i class="fa fa-fw fa-comment"></i> 
      <p>slides</p>
    </a>
  </div>
  <p class="description">メディアプログラミングやWeb開発をやっている大学生。バンドとアニメとアイドルが好き。<br>(トーラスは、声優のTorus遥さんの<a target="_blank" href="https://www.amazon.co.jp/dp/B00FRFR3XA?tag=amz-mkt-chr-jp-22&ascsubtag=1ba00-01000-org00-linux-other-nomod-jp000-pcomp-feature-scomp-wm-5&ref=aa_scomp">ドーナツという曲</a>のメタファーです。)</p>
</div>
