<div class="root-container">
  <img src="https://i.imgur.com/zyJqR1o.png" alt="My icon">
  <h1>@e_ntyo</h1>
  <p>メディアプログラミングやWeb開発をやっている大学生。バンドとアニメとアイドルが好きです。</p>
  <p>(トーラスは、声優のTorus遥さんのドーナツという曲のメタファーです)</p>
  <div class="links">
    <a href="https://twitter.com/e_ntyo" role="button" title="Twitter" target="_blank">
      <i class="fa fa-fw fa-twitter"></i>
    </a>
    <a href="https://github.com/entyo" role="button" title="GitHub" target="_blank">
      <i class="fa fa-fw fa-github"></i>
    </a>
    <a href="http://www.amazon.co.jp/registry/wishlist/734KCUBE5PYS" role="button" title="WishList" target="_blank">
      <i class="fa fa-fw fa-amazon"></i>
    </a>
    <a href="https://www.eventernote.com/users/e_ntyo/" role="button" title="Eventer Note" target="_blank">
      <i class="fa fa-fw fa-file-text-o"></i>
    </a>
    <a href="https://medium.com/@e_ntyo" role="button" title="Medium" target="_blank">
      <i class="fa fa-fw fa-medium"></i>
    </a>
    <a href="https://dev.to/e_ntyo" role="button" title="dev.to" target="_blank">
      <i class="fa fa-fw fa-wrench"></i>
    </a>
    <a href="https://slides.com/e_ntyo" role="button" title="slides.com" target="_blank">
      <i class="fa fa-fw fa-comment"></i>
    </a>
  </div>
</div>
