<section id="aboutme">
  <div class="aboutme">
    <img class="icon" src="/assets/zyJqR1o.png" alt="My icon">
    <h1>@e_ntyo</h1>
    <p class="description">最近大学を中退し、念願のフリーターとなったオタク。<br>
      メディアプログラミング, 関数型プログラミング, Webアプリケーション開発などをやっている。
      <br>
      バンドとアニメとアイドルが好きで、特にTorus遥さんの
      <a target="_blank" href="https://www.amazon.co.jp/dp/B00FRFR3XA?tag=amz-mkt-chr-jp-22&ascsubtag=1ba00-01000-org00-linux-other-nomod-jp000-pcomp-feature-scomp-wm-5&ref=aa_scomp">ドーナツという曲</a>が好き。
    </p>
    <a href="#link" class="chevron"><i class="fas fa-chevron-down"></i></a>
  </div>
</section>
<section id="link">
  <div class="links-container">
    <h1>Links</h1>
    <div class="links">
      <a href="https://twitter.com/i/moments/1020547090907160582" role="button" title="Works" target="_blank">
        <i class="fa fa-fw fa-code"></i>
      </a>
      <a href="https://twitter.com/e_ntyo" role="button" title="Twitter" target="_blank">
        <i class="fab fa-fw fa-twitter"></i>
      </a>
      <a href="https:/s//github.com/entyo" role="button" title="GitHub" target="_blank">
        <i class="fab fa-fw fa-github"></i>
      </a>
      <a href="https://www.eventernote.com/users/e_ntyo/" role="button" title="Eventernote" target="_blank">
        <i class="fas fa-fw fa-file-alt"></i>
      </a>
      <a href="https://medium.com/@e_ntyo" role="button" title="Medium" target="_blank">
        <i class="fab fa-fw fa-medium"></i>
      </a>
      <a href="https://dev.to/e_ntyo" role="button" title="dev.to" target="_blank">
        <i class="fab fa-fw fa-dev"></i>
      </a>
      <a href="http://e-ntyo.hatenablog.com/" role="button" title="hatenablog.com" target="_blank">
        <i class="fa fa-fw fa-question"></i>
      </a>
      <a href="https://slides.com/e_ntyo" role="button" title="slides.com" target="_blank">
        <i class="fa fa-fw fa-comment"></i>
      </a>
    </div>
  </div>
</section>
